.calDay {
    width: 14.285%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: 120px;
    color: white;
    text-align: center;
}

.calendar-body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bd-rightside {
    border-right: 1px solid black;
}

#bd-rightside {
    border-right: 2px solid black;
}

.colHead {
    width: 14.285%;
    text-align: center;
    border: 2px solid black;
    border-right: none;
}

.calWeek {
    display: flex;
}

.testing {
    display: flex;
}

.snd {
    margin-left: 30px;
}

.shiftL {
    margin-left: -12px;
}

li {
    margin-left: 2px;
    margin-right: 2px;
}

.calDate {
    width: 20%;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
